
.Rproj.user/shared/notebooks/paths
.Rproj.user/E7D41C2F/sources/session-91d6bf75/D4B364F7-contents
.Rproj.user/E7D41C2F/sources/prop/5433D02D
.Rproj.user/E7D41C2F/sources/prop/INDEX
.Rproj.user/E7D41C2F/sources/session-91d6bf75/8F0A99C5-contents
.Rproj.user/E7D41C2F/sources/session-91d6bf75/B64DCBBA
.Rproj.user/E7D41C2F/sources/session-91d6bf75/B64DCBBA-contents
.Rproj.user/E7D41C2F/sources/session-91d6bf75/C4D2D950-contents
.Rproj.user/E7D41C2F/sources/session-91d6bf75/D4503944
.Rproj.user/E7D41C2F/sources/session-91d6bf75/D4503944-contents
.Rproj.user/E7D41C2F/sources/session-91d6bf75/B64DCBBA
.Rproj.user/E7D41C2F/sources/session-91d6bf75/B64DCBBA-contents
